body {
  background: DARKORANGE;
}
.contenedor {
  display: flex;
  width: 500px;
  height: 40px;
  color : #fff;
  font-size: 40px;
  line-height: 40px;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: hidden;

}
ul {
  list-style: nome;
  padding-left: 10px;
  animation: ca,biar 5s infinite
}
ul, p{
  font-family: 'Modern Antiqua', cursive;
  margin: 0;
}
